<li class="todo-list-item">
  <ng-container *ngIf="inlineEdit; else noInlineEdit">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-field">
      <mat-label>Change the task</mat-label>
      <input matInput type="text" [(ngModel)]="taskInput" />
      <div matSuffix class="button-container">
        <button *ngIf="taskInput" mat-icon-button aria-label="Save" (click)="onSave()">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button aria-label="Cancel" (click)="onCancel()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </ng-container>

  <ng-template #noInlineEdit>
    <div tabindex="0" class="todo-list-item__template-container" (click)="onSelect()" (keydown)="onSelect()">
      <mat-checkbox [checked]="isStatusCompleted()" (click)="onStatusClick($event)" />

      <div class="todo-list-item__text" appTooltip="Click on a task to see its description">
        {{ text }}
      </div>

      <button
        mat-icon-button
        aria-label="edit tack"
        appTooltip="Click to edit the task text"
        (click)="onDblClick($event)">
        <mat-icon>edit_note</mat-icon>
      </button>

      <app-button
        (clickEvent)="onDelete()"
        appTooltip="Click the button to delete the task"
        class="button button--delete">
        Delete
      </app-button>
    </div>
  </ng-template>
</li>
