<mat-card class="todo-list-card">
  <mat-card-header>
    <mat-card-title>
      <h1>Todo List</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ul class="todo-list">
      <app-to-do-list-item
        *ngFor="let item of taskItems"
        [text]="item.text"
        (deleteEvent)="delTask(item.id)"></app-to-do-list-item>
    </ul>
  </mat-card-content>

  <mat-card-footer class="todo-actions">
    <mat-form-field appearance="outline" class="todo-new-task">
      <input type="text" matInput [(ngModel)]="newTask" placeholder="Description of the task" />
    </mat-form-field>
    <button mat-flat-button (click)="addTask()" class="button button--add" [disabled]="isAddTaskBtnDisabled()">
      Add task
    </button>
  </mat-card-footer>
</mat-card>
