<div class="card">
  <div class="card-header">
    <h1 class="card-header__title">Todo List</h1>
  </div>
  <div class="card-body">
    <ul class="todo-list">
      <li class="todo-list-item">
        <span>Bye a new gaming laptop</span>
        <button class="todo-list-item__btn">Delete</button>
      </li>
      <li class="todo-list-item">
        <span>Complete previous task</span>
        <button class="todo-list-item__btn">Delete</button>
      </li>
      <li class="todo-list-item">
        <span>Create some angular app</span>
        <button class="todo-list-item__btn">Delete</button>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <input type="text" class="todo-input" value="" placeholder="Description of the task" />
    <button class="todo-btn">Add task</button>
  </div>
</div>
